<h1>Meetups</h1>

<ul>

  <li>Creator: <%= @creator.username %> </li>
  <li>Name: <%= @meetup.name %> </li>
  <li>Description: <%= @meetup.description %> </li>
  <li>Location:  <%= @meetup.location %> </li>

</ul>

<form action='/meetups/:id' method='post'>
<input type='hidden' name='meetup_to_join_id' value=<%= @meetup.id %>>
<input type='submit' value='Join' style="background-color: black">
</form>


<p>
  <ul>
  Members
  <% @meetup.users.each do |user| %>
  <li><%= user.username %> <img class='avatar' src="<%= user.avatar_url %>" /> </li>
  <% end %>
  </ul>
</p>
